.splash-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 8vh;
    border-bottom: 2px solid #3a3a3a;
    color: #008fc8;
}

#logo-img{
    height: 65px;
    width: auto;
}

.nav-links{
    padding-right: 50px;
}

.nav-links > a{
    padding-left: 20px;
}

.nav-links > a:hover{
    color: black;
}

.splash-body{
    height: 85vh
}

#body-images-container{
    display: grid;
    height: 86vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#body-images-container img{
    border-radius: 10px;
    height: 175px;
}

.splash-auth-links{
    grid-column: 3 / 11;
    grid-row: 3 / 5;
    display: flex;
    justify-content: center;
}

.splash-auth-links > * {
    padding-top: 70px;
    font-size: 30px;
    margin: 0px 15px;
}

.splash-auth-links > *:hover{
    color: black;
}



#left-gif{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

#top-gifs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 13;
    grid-row: 1 / 3;
    padding: 20px 41px;
}

#right-gif{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 11 / 13;
    grid-row: 3 / 5;
}

#bottom-gifs{
    display: flex;
    justify-content: space-around;
    grid-column: 1 / 13;
    grid-row: 5 / 7;
    padding-top: 15px;
}

