.splash-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 8vh;
    border-bottom: 2px solid #3a3a3a;
}

#logo-img{
    height: 65px;
    width: auto;
}

.nav-links{
    padding-right: 50px;
}

.nav-links > a{
    padding-left: 20px;
}

.nav-links > a:hover{
    color: black;
}

.splash-header{
    height: 45vh;
    background-color: rgba(240, 248, 255, 0.836);
    border-bottom: 2px solid #3a3a3a;
}

#body-images-container{
    display: grid;
    height: 86vh;
    grid-template-columns: repeat(12, 1fr);
}

#body-images-container img{
    border-radius: 10px;
    height: 300px;
}

.splash-auth-links{
    grid-column: 5 / 8;
    display: flex;
    justify-content: center;
}

.splash-auth-links > * {
    padding-top: 70px;
    font-size: 30px;
    margin: 0px 15px;
}

.splash-auth-links > *:hover{
    color: black;
}

#left-gif{
    padding: 20px 10px;
    grid-column: 1 / 4;
}

#right-gif{
    padding: 20px 10px;
    padding-left: 75px;
    grid-column: 9 / 13;
}

#splash-signin{

}

#splash-signup{
    
}

