/* TODO Add site wide styles */
body{
    padding: 0px;
    margin: 0px;
    /* background-color: rgba(240, 248, 255, 0.144); */
    background-color: rgba(240, 248, 255, 0.836);
    font-family: 'Noto Sans', sans-serif;
    color: #3a3a3a;
}

a{
    text-decoration: none;
    color: #3a3a3a;
}

a:hover, button:hover{
    cursor: pointer;
}

/* 2161CD favicon color */