.auth-wrapper{
    display: grid;
    /* height: 90vh; */
    /* width: 100vw; */
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }
  
  .auth-form-wrapper{
    grid-column: 2 / 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
  }

  .login-image-container{
    grid-column: 0 / 2;
    height: 90vh;
    width: 50vw;
    margin: 10px 10px;
  }
  
  #form-image{
    width: 50vw;
    border-radius: 15px;
    height: 97vh;
  }
  
  
  .form-text{
    font-size: 1.33em;
    font-weight: 500;
    letter-spacing: .03em;
  }
  
  .login-signup-input {
    width: 35em;
    height: 2.7em;
    border-radius: 4px;
    border: 1px rgb(228, 228, 228) solid;
    /* margin: 10px 0px; */
    transition: all 0.1s ease;
    margin: 8px 0px;
  }
  
  .login-signup-input:focus {
    outline: none;
    box-shadow: 0 0 0 .5px #008fc8;
  }
  
  .form-input{
    font-size: 13px;
    font-weight: 500;
  }
  
  .redirect-text{
    color: black;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: .025em;
    margin: 5px 0px 50px 0px;
  }
  
  #signin-link, #signup-link{
    color: #008fc8;
    text-decoration: none;
    font-size: 13px;
  }
  
  .redirect-link:hover{
    color: #25b5ee;
  }
  
  .signup-signin-btn{
    border: none;
    border-radius: 5px;
    background-color: #008fc8;
    color: white;
    font-weight: 700;
    letter-spacing: .02em;
    width: 9.5em;
    padding: 1em 1.1em;
    margin-left: 10px;
  }
  
  .signup-signin-btn:hover{
    background-color: #25b5ee;
  }
  