.home-wrapper{
    /* height: 85vh; */
    height: 40em;
}

.matches-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.match-container{
    height: 250px;
    width: 350px;
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    transition: transform .2s;
    cursor: pointer;
}

.match-container:hover{
    transform: scale(1.02);
}

#match-img{
    height: 250px;
    width: 350px;
    border-radius: 10%;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.15);
}


