.comments-wrapper{
    margin-left: 50px;
}

.comment-form-container{
    margin-bottom: 25px;
}

#comment-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}

#comment-input{
    width: 35em;
    height: 2.7em;
    border-radius: 4px;
    border: 1px rgb(228, 228, 228) solid;
    transition: all 0.1s ease;
    font-size: 14px;
}

#comment-input:focus {
    outline: none;
    box-shadow: 0 0 0 .5px #008fc8;
  }

#submit-comment{
    font-size: 20px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 10px 12px;
    border-radius: 10px;
    border: 2px solid #008fc8;
    background-color: rgb(0, 143, 200);
    color: white;
    height: 30px;
    margin-left: 20px;
}

#submit-comment:hover{
    color: #008fc8;
    border: 2px solid #008fc8;
    padding: 10px 12px;
    background-color: rgba(240, 248, 255, 0.836);
}

.comments-container{
    height: 60vh;
    overflow-y: auto;
    border: 1px solid #008fc8;
    border-radius: 7px;
    padding: 1px;

}

#comment-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
    padding: 15px 5px;
    border-bottom: 1px solid #3a3a3a;
    width: 35em;
}

#comment-container:hover{
    transform: scale(1.01);
    background-color: rgb(240, 248, 255, 0.836);
}

#comment-buttons{
    display: flex;
}

#delete-comment{
    color: #008fc8;
    border: 2px solid #008fc8;
    background-color: white;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    padding: 10px 13px;
    border-radius: 10px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
}

#delete-comment:hover{
    border: none;
    background-color: #008fc8;
    color: white;
}

#comment-user{
    font-size: 12px;
    color: #008fc8;
    font-weight: bold;
}

#comment{
    display: flex;
}

#commenter-img{
    margin-right: 10px;
    height: 40px;
    width: 40px;
    border-radius: 20%;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.05);
}

.edit-comment-container{
    display: flex;
}

#cancel-edit-comment, #edit-comment{
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    padding: 4px 10px;
    border-radius: 10px;
    margin: 4px 6px;
    background-color: white;
    border: 2px solid #008fc8;
    color: #008fc8;
}


#cancel-edit-comment:hover, #edit-comment:hover{
    color: white;
    background-color: #008fc8;
}

#edit-comment:disabled{
    color: white;
    background-color: rgba(122, 120, 120, 0.623);
    border: 2px solid rgba(122, 120, 120, 0.623);
    cursor: not-allowed;
}

.event-type-selector{
    border-radius: 5px;
    font-size: 15px;
}

.event-type-selector:focus{
    outline: none;
    box-shadow: 0 0 0 .5px #008fc8;
}