.match-wrapper{
    height: 76em;
}

#match-favorite-btn, #match-unfavorite-btn{
    margin-right: 35px;
    font-size: 17px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: #008fc8;
    color: white;
    height: 37px;
}

#match-favorite-btn:hover, #match-unfavorite-btn:hover{
    color: #008fc8;
    border: 2px solid #008fc8;
    background-color: rgba(240, 248, 255, 0.836);
    padding: 4px 12px;
}

#match-favorite-btn{
    padding: 4px 15px;
}

#match-unfavorite-btn{
    padding: 4px 12px;
}

.match-info{
    margin: 3vh 6vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#match-page-img{
    height: 150px;
    width: 250px;
    border-radius: 10%;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.15);
}

#match-page-title{
    margin-right: 70px;
    font-size: 40px;
    font-weight: bold;
}

.match-content-wrapper{
    /* display: flex; */
    margin-top: 50px;
}

.pitch-chart-container{
    margin-left: 90px;
    margin-bottom: 75px;
    background-image: url('../../resources/blank_field.png');
    background-repeat: no-repeat;
    height: 91vh;
}

.chart-selector-wrapper{
    display: flex;
    justify-content: center;
    margin-right: 60px;
    margin-bottom: 50px;
}

.event-type-selector{
    margin-left: 4px;
}
