.match-wrapper{
    height: 89vh;
}

.match-info{
    margin: 3vh 6vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#match-page-img{
    height: 150px;
    width: 250px;
    border-radius: 10%;
}

#match-page-title{
    margin-right: 200px;
    font-size: 40px;
    font-weight: bold;
}

.match-analysis-wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.pitch-chart-container{
    grid-column: 7 / 13;
    background-image: url('../../resources/blank_field.png');
    background-repeat: no-repeat;
}